@import url('https://fonts.googleapis.com/css?family=Catamaran');

* {
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
}

body {
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
    z-index: 5 !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #7F8C8D;
    z-index: 5 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #566573;
    transition: 0.5s;
    z-index: 5 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #525D67;
    cursor: pointer;
    z-index: 5 !important;
}

.input-container {
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}

.horizontal-input {
  border: none;
  background-color: #1E1D21;
  border-bottom: solid 4px;
  border-color: #333;
  width: 84%;
  transition: 0.25s;
  text-align: center;
  color: #FFF;
  height: 5vh;
  font-size: 1em;
}

.horizontal-input:focus {
  outline: none;
  border-bottom: solid 6px;
  border-color: #2980B9;
  width: 88%;
  background-color: transparent;
}

#username:focus {
    border-color: #2BBEA2;
}

#password:focus {
  border-color: #2980B9;
}

textarea {
  border: none;
  background-color: #1E1D21;
  border-bottom: solid 2px;
  border-color: #333;
  width: 84%;
  transition: 0.25s;
  text-align: center;
  color: #FFF;
  height: 10vh;
  resize: none;
  font-size: 1.0em;
}

textarea:focus {
  outline: none;
  border-bottom: solid 4px;
  border-color: #2980B9;
  width: 88%;
  background-color: transparent;
}

.button-container {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.primary-button {
  background: linear-gradient(to right, #2e86c1 0%, #2bbea2 100%);
  background-repeat: no-repeat;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  color: #FFF;
  transition: 0.25s;
}

.primary-button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.secondary-button {
  background: linear-gradient(to right, #2e86c1 0%, #2bbea2 100%);
  width: 84%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  color: #FFF;
  transition: 0.25s;
}

.secondary-button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.vertical-input {
  border: none;
  background-color: #1E1D21;
  border-left: solid 2px;
  border-color: #333;
  width: 20%;
  transition: 0.25s;
  text-align: center;
  color: #FFF;
  font-size: 1.0em;
  margin-left: 1vw;
}

.vertical-input:focus {
  outline: none;
  border-left: solid 4px;
  border-color: #2980B9;
  width: 22%;
  background-color: transparent;
  border-bottom: none;
}

#vertical-input {
  height: 4vh;
}

.form-container {
  width: 100%;
  height: auto;
  margin-bottom: 2vh;
}

.animated-form-container {
  width: 100%;
  height: auto;
  margin-bottom: 2vh;
  position: relative;
  animation: slide-in-left 0.75s;
  transition: 0.5s;
}

.input-label {
  margin-bottom: 3vh;
  margin-top: 3vh;
  font-size: 1.1em;
  text-indent: 5vw;
  font-weight: bolder;
}

.date-input-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.react-date-picker.react-date-picker--closed.react-date-picker--enabled {
  width: 85%;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  position: relative;
  left: 0.5vw;
  height: 5vh;
  border-left: solid 2px;
  border-color: #333;
  color: #FFF;
}

.react-date-picker__wrapper {
  width: 100% !important;
  border: none !important;
  transition: 0.5s !important;
}

.react-date-picker__inputGroup {
  display: block !important;
  background-color: #1E1D21 !important;
  text-align: center !important;
  color: #FFF;
}

.react-date-picker__inputGroup__input {
  color: #FFF !important;
}

.react-date-picker.react-date-picker--open.react-date-picker--enabled {
  width: 88%;
  transition: 0.5s;
  border-left: solid 4px;
  background-color: #1E1D21;
  height: 5vh;
  transition: 0.5s;
}

g {
  stroke: white;
}

select {
  width: 84%;
  height: 5vh;
  border: none;
  background-color: #1E1D21;
  border-left: solid 2px;
  border-color: #333;
  font-size: 1em;
  transition: 0.5s;
  text-align-last: center;
  color: #FFF;
}

select:focus {
  box-shadow: none;
  outline: none;
  border-left: solid 4px;
  border-color: #2980B9;
}

.separator {
  width: 100%;
  height: 20vh;
}

.alert-success-icon {
  background-image: url(success-g.svg);
  background-position: center;
  background-size: 2vw;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.alert-warning-icon {
  background-image: url(warning-w.svg);
  background-position: center;
  background-size: 0.3vw;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.alert-info-icon {
  background-image: url(info-w.svg);
  background-position: center;
  background-size: 0.5vw;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.wrong-info-icon {
  background-image: url(wrong-r.svg);
  background-position: center;
  background-size: 2.0vw;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.record-container {
  position: relative;
  width: 65vw;
  max-height: 67.5vh;
  overflow-y: scroll;
  animation: slide-right 1s ease-out;
}

.butter-alert.style__Div-sc-1url3us-0.jtQObZ {
  border-radius: none;
  box-shadow: none;
  background-color: #000;
  color: #FFF;
  border-radius: 0px;
  text-align: center;
  opacity: 0.9;
}

.butter-alert.style__Div-sc-1url3us-0.jtQObZ div.content {
  color: #FFF;
}

.option-button {
  width: auto;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  height: 5vh;
  background-color: #2980B9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.option-button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.option-input-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.option-input-text {
  width: auto;
  height: 5vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
