.change-password-container {
  width: 40vw;
  height: 40vh;
}

.horizontal-input-user-options {
  border: none;
  background-color: #FFF;
  border-bottom: solid 2px;
  border-color: #333;
  width: 84%;
  transition: 0.25s;
  text-align: center;
  color: #333;
  height: 5vh;
  font-size: 1em;
  text-transform: capitalize;
}

.horizontal-input-user-options:focus {
  outline: none;
  border-bottom: solid 4px;
  border-color: #2980B9;
  width: 88%;
  background-color: transparent;
}

.change-password-button {
  width: 7.5vw;
  color: #FFF;
  background-color: #2980B9;
  transition: 0.5s;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-password-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
}
