.login-form {
  width: 70vw;
  height: 50vh;
  animation: fade-in 1.0s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 2.5s;
  position: relative;
}

.login-input {
  height: 14vh;
  font-size: 2.2em;
}
