.main-container {
  width: 80vw;
  height: 100vh;
  position: absolute;
  left: 20vw;
  color: #FFF;
  display: flex;
  justify-content: center;
  padding-top: 14vh;
  overflow-x: hidden;
  background-color: transparent;
}

.main-info {
  width: 20vw;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding-left: 1.5vw;
  align-items: center;
  position: absolute;
  top: 2vh;
  left: 2vh;
}

.main-title {
  font-size: 2.0em;
  margin-left: 0.5vw;
  animation: slide-left 1s;
  animation-fill-mode: backwards;
  animation-delay: 1.5s;
  position: relative;
}

.main-icon {
  width: 4vw;
  height: 4vw;
  background-color: #F4F6F6;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2vw;
  animation: grow-up 1s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 1.5s;
}

#login-icon {
  background-image: url(login.svg);
}

#home-icon {
  background-image: url(home.svg);
  background-size: 2.0vw;
}

#student-icon {
  background-image: url(student.svg);
  background-size: 1.5vw;
}

#teacher-icon {
  background-image: url(teacher.svg);
  background-size: 2.5vw;
}

#level-icon {
  background-image: url(level.svg);
  background-size: 2vw;
}

#period-icon {
  background-image: url(period.svg);
  background-size: 2vw;
}
