.registry {
  width: 100%;
  height: auto;
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  margin-top: 0.5vh;
  border-bottom: solid 2px;
  border-color: #333;
  background-color: #1a181d;
}

.registry-row {
  padding-left: 1vw;
  display: flex;
  justify-content: flex-start;
}

.registry-row p {
  text-indent: 0.5vw;
}

.map-container {
  width: 50%;
}

.identifier-column {
  width: 20%;
  height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 4em;
  background: linear-gradient(to bottom left, #2e86c1 0%, #2bbea2 100%);
  color: #FFF;
  text-transform: uppercase;
  animation: fade-in 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

.information-column {
  width: 80%;
}
