.side-menu {
  width: 20vw;
  height: 100vh;
  position: fixed;
  background-color: #2E4155;
  animation: slide-menu 1s ease-out;
}

.menu-title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  color: #FFF;
  position: relative;
  top: 7vh;
  animation: fade-in 0.5s ease-in;
  animation-fill-mode: backwards;
  animation-delay: 1.75s;
}

.menu-icon {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: transparent;
  background-image: url(app.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6vw;
  top: 0;
  animation: spin-to-tiny 1.25s ease-in;
  animation-fill-mode: backwards;
  animation-delay: 0.75s;
}

.user-info-container {
  width: 100%;
  height: 10vh;
  background-color: #24394E;
  position: absolute;
  bottom: 0;
  animation: fade-in 1s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

.menu-options {
  width: 100%;
  height: auto;
  position: absolute;
  top: 35vh;
}

.menu-option {
  width: 100%;
  height: auto;
  font-size: 1.4em;
  color: #FFF;
  transition: 0.5s;
  text-indent: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.menu-option:hover {
  background-color: #263443;
  cursor: pointer;
  text-indent: 2.5vw;
}
